body {
  font-family: "roboto", "sans-serif";
  color: #2e2f42;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* -----header------- */
.header {
}
.header-navigation {
}
.header-logo,
.footer-logo,
.logo-part {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo-part {
  color: #4d5ae5;
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-contakt-list {
}
.header-contakt-item {
}
.contact-mail,
.contact-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-mail:focus,
.contact-tel:focus,
.header-link:focus,
.contact-mail:hover,
.contact-tel:hover,
.header-link:hover {
  color: #404bbf;
}

/* ------hero----- */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: #ffffff;
  background-color: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ----about----- */
.about {
}
.about-list {
}
.about-item {
}
.about-aftertitle {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.about-subtitle {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ----doing---- */
.doing {
}
.doing-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.doing-list {
}
.doing-item {
}
/* ----team---- */
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
}
.team-item {
}
.team-aftertitle {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-subtitle {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ------footer----- */
.footer {
  background-color: #2e2f42;
}
.footer-logo.logo {
  color: #f4f4fd;
}
.logo-part {
  color: #4d5ae5;
}

.footer-subtitle {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
/*  ---portfolio--- */

.examples {
}
.examples-list {
}
.examples-item {
}
.examples-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}
.examples-btn:hover,
.examples-btn:focus {
  color: #ffffff;
  background-color: #4d5ae5;
}
.examples-img-list {
}
.examples-img-item {
}
.examples-img-link {
  background-color: #ffffff;
}
.examples-aftertitle {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.examples-subtitle {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
